C:\Users\dylan\OneDrive\Documents\GitHub\ProjectNuggetSDK\ProjectNuggetMapSDK\Library
C:\Users\dylan\OneDrive\Documents\GitHub\ProjectNuggetSDK\ProjectNuggetMapSDK\Temp
C:\Users\dylan\OneDrive\Documents\GitHub\ProjectNuggetSDK\ProjectNuggetMapSDK\Logs
Library\
Library/
/Library
\Library
Temp\
Temp/
\Temp
/Temp
/Logs
\Logs
Logs\
Logs/
*.sln
*.csproj
*.untyproj
*.log